@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --color-orange: #fb8122;
  --color-light: #e1e2e2;
  --color-grey: #1d2228;
  --color-black: #000000;
}
